html,
body {
    height: 100%;
}

.btn-nav-top {
    height: 80px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 3em;
}

.btn-home {
    height: 80px;
    width: 250px;
    font-size: 1.5em;
}

.btn-input {
    height: 80px;
    width: 180px;
    font-size: 1.5em;
}
