html,
body {
    /*designed for RPi official touchscreen*/
    width: 800px;
    height: 480px;
    max-width: 800px;
    max-height: 480px;

    margin-right: 0!important;
    padding-right: 0!important;
    overflow: hidden;
}

.navbar, .navbar-expand, fixed-bottom {
    margin-right: 0!important;
    padding-right: 0!important;
}

.btn-nav-top {
    height: 80px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 3em;
}

.btn-home {
    height: 80px;
    width: 250px;
    font-size: 1.5em;
}

.btn-input {
    height: 80px;
    width: 180px;
    font-size: 1.5em;
}

.flash ul{
    padding-inline-start: 0px;
    list-style-type: none;
    text-align: center;
    font-size: 1.2em;
}
.flash ul li.error{
    background-color: red;
}
.flash ul li.warning{
    background-color: orange;
}
.flash ul li.info{
    background-color: green;
}
