{% extends 'base.html' %}

{% block title %}System Home{% endblock %}

{% block header %}
<div class="container-fluid">
    <br/><br/><br/>
    <div class="row align-items-center justify-content-center">
        <button class="btn btn-primary btn-lg" type="button" style="font-size: 3em;"><i class="fas fa-home"></i></button>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
<br/><br/><br/><br/>
    <div class="row align-items-center justify-content-center">
        <div class="mx-auto" style="width: 600px;">
            {# <!--Not lining up properly in testing.  Don't have time to screw with bootstrap--> #}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success btn-lg btn-home" type="button">System On / Reset</button>
            <button class="btn btn-danger btn-lg btn-home" type="button">System Off</button>
        </div>
    </div>
</div>
{% endblock %}
