{% extends 'base.html' %}

{% block title %}System Home{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        System inputs:
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <br/><br/>
    <div class="row align-items-center justify-content-center">
        {# <!--Display buttons for room.system_inputs--> #}
        {% for input in room.system_inputs %}
            <div class="col-3 text-center">
                <button class="btn btn-secondary btn-lg btn-input" type="button">{{ input }}</button>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
